{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{{ menus.menu_links(menu_name, items, attributes, 0) }}

{% macro menu_links(name, items, attributes, level) %}
  {% import _self as menus %}
  {% if items %}
    {% set classes = ['menu', 'menu--' ~ name|clean_class, 'menu--level-' ~ level] %}
    {% set link_attributes = {class : ['menu--link']} %}

    <ul{{ attributes.addClass(classes, level == 0 ? "menu--root" : "menu--nested") }}>
      {% for item in items %}

        {% set item_state_classes = [item.is_collapsed ? 'is-collapsed', item.is_expanded ? 'is-expanded', item.in_active_trail ? 'is-in-active-trail', item.in_active_trail ? 'active'] %}

        <li{{ item.attributes.addClass('item', item_state_classes) }}>
          {{ link(item.title, item.url, link_attributes) }}

          {% if item.below %}
            {{ menus.menu_links(name, item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>

      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
